{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
	<div class="jumbotron mt-5">
		<h1 class="display-3">Hello la Famille !</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ducimus suscipit totam fugiat hic eaque assumenda molestias necessitatibus voluptatibus repellat quisquam accusamus qui saepe vel eveniet doloremque, quod laborum nemo!</p>
        <p>Hic ut esse illum suscipit. Dolores sunt earum adipisci, ullam placeat eos illo ea ut eveniet quam quasi? Quibusdam laudantium ut consequatur necessitatibus exercitationem dolorem suscipit incidunt sed a mollitia.</p>
        <p>Iure reiciendis in sunt amet dolorum explicabo sapiente ipsa optio labore, dicta beatae neque blanditiis vel? Ad fuga corporis distinctio debitis inventore, ducimus accusantium nihil laudantium doloremque eaque blanditiis! Eligendi!</p>
	</div>
{% endblock %}
